Based on the user input, print the corresponding day of the week if 1-> sunday, 2-> monday,...

In [1]:
a = int(input("Enter the number:"))
if a==1:
    print("Sunday")
elif a==2:
    print("Monday")
elif a==3:
    print("Tuesday")
elif a==4:
    print("Wednesday")
elif a==5:
    print("Thursday")
elif a==6:
    print("Friday")
elif a==7:
    print("Saturday")
else:
    print("Wrong Input")

Thursday

### String

In [2]:
msg="This is a message"
type(msg)
msg[1]

'h'

In [3]:
print(len(msg))
print(len("Gokul Manoj"))

17
11

In [4]:
msg.upper()

'THIS IS A MESSAGE'

##### strip(), split(), format()

In [6]:
name=" ab cd   "
print(len(name.strip()))

5

In [22]:
nmbr="1,2,3,4,5,6"
nos=nmbr.split(',')
nos

['1', '2', '3', '4', '5', '6']

In [23]:
for i in nos:
    print(i)

1
2
3
4
5
6

In [31]:
sum=0
for i in nos:
    temp=int(i)
    sum=sum+temp
    print(i,type(i),temp,type(temp))
print(sum)

1 <class 'str'> 1 <class 'int'>
2 <class 'str'> 2 <class 'int'>
3 <class 'str'> 3 <class 'int'>
4 <class 'str'> 4 <class 'int'>
5 <class 'str'> 5 <class 'int'>
6 <class 'str'> 6 <class 'int'>
21

##### Format()

In [33]:
name = input("Enter username:")
password = input("Enter password:")
print("Your username: {} and password entered is: {}".format(name,password))

Your username: qwert and password entered is: asdfg

In [35]:
for i in range(10,20,1):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [41]:
# find the sum of n multiples of 2 where n is user input

sum=0
n=int(input("Enter no of terms:"))
for i in range(n):
    a=i*2
    sum=sum+a
print(sum)

20

#### Lists

In [1]:
listex = ["one","two","three","four"]
print(listex)

['one', 'two', 'three', 'four']

In [2]:
print(listex[3])

four

In [3]:
if "three" in listex:
    print("Success")

Success

In [4]:
listex.append("five")
print(listex)

['one', 'two', 'three', 'four', 'five']

In [5]:
listex.pop()

'five'

In [6]:
listex.pop(1)
print(listex)

['one', 'three', 'four']

In [7]:
listex.remove("one")

In [8]:
print(listex)

['three', 'four']

In [9]:
listex.sort()

In [10]:
print(listex)

['four', 'three']

In [11]:
listex.reverse()

In [12]:
print(listex)

['three', 'four']

#### Functions

In [17]:
def fname():
    print("I am your first function")
    retVal="Success"
    return retVal, True

fname()

I am your first function

('Success', True)

In [15]:
status=fname()
print(status)

I am your first function
Success

In [18]:
status, flag=fname()
print(status, flag)

I am your first function
Success True

In [19]:
def fname(n):
    print("I am your first function",n)
    retVal="Success"
    return retVal, True

In [20]:
name="Gokul"
status,flag=fname(name)
print(status,flag)

I am your first function Gokul
Success True

Write a function that takes in a list of numbers and return the sum of numbers, without any predefined functions.

In [8]:
def addno(lst):
    sum=0
    for i in lst:
        sum=sum+i
    return sum

lst1=[23,56,21,45,78]
addno(lst1)

223

In [11]:

sum=0
for i in range(0,len(lst1)):
    sum=sum+lst1[i]
print(sum)

223

In [14]:
lst2=[]
n= int(input("Enter no of terms:"))
for i in range(0,n):
    no=int(input("Enter a number:"))
    lst2.append(no)
print(lst2)
print("Sum is ",addno(lst2))

[1, 2, 3, 4, 5]
Sum is  15

In [17]:
userinput=input("Enter a list of numbers seperated via coma")
array=userinput.strip().split(',')
sum=addno(array)
print("Sum: ",sum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Count the number of odd and even numbers in the list.
print the count of odd and even numbers along with nos.
You will have a function that will take the list of numbers, then return the count of odd and even numbers and the new list of odd numbers and even numbers.

In [23]:
def oddeven(lst):
    oddcount=0
    evencount=0
    oddlist=[]
    evenlist=[]
    for item in lst:
        if item%2==0:
            oddcount=oddcount+1
            oddlist.append(item)
        else:
            evencount=evencount+1
            evenlist.append(item)
    print("Sum of odd numbers:",oddcount)
    print(oddlist)
    print("SUm of even numbers:",evencount)
    print(evenlist)

nmbrs=[]
n=int(input("Enter no of terms:"))
for i in range(0,n):
    no=int(input("Enter the numbers:"))
    nmbrs.append(no)
print("Original List:",nmbrs)
oddeven(nmbrs)

[1, 2, 3, 4, 5]
Sum of odd numbers: 2
[2, 4]
SUm of even numbers: 3
[1, 3, 5]